<footer id="footer">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  " src="/img/licensebutton.png" /></a><br />
  <div style="text-align: center">All content licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> license unless otherwise stated. </div>
  <br /> 
  <i><div style="text-align: center">Copyright © </i> 2025  Sahil Dhiman. </div>
</footer>
